#users{
	position: absolute;
	top: 100px;
	right: 150px;
}
#container{
	border-style: solid;
	font-size: 15px;
	background-color: #efefef;
	padding: 20px;
}
li{
	list-style-type: none; 
	font-size: 20px;
}
.ace_editor { 
  position: relative;
  width: 75vw;
  height: 100vh;
  margin-right: 0px;  
}
.banner h1{
	text-align: center;
	color: white;
	font-family: 'Roboto';
	font-size: 50px;
	font-variant: normal;
	font-weight: 500;
}
.join{
	position: fixed;
	top: 50%;
    left: 55%;
}
.new-session{
	position: fixed;
	top: 35%;
    left: 40%;
}
#join{
	position: fixed;
	top: 50%;
    left: 35%;
}
#footer{
	text-align: left;
	background-color: #efefef;
	font-family: 'Roboto';
	font-size: 20px;
	height: 60px;
	width: 2280px;
	position: fixed;
	bottom: 0px;
}
a{
	color: white;
}

