  <div class="banner">  
    <h1 class="bgc-indigo-500">{{ changedWords }} Together</h1>
  </div>
  <button class="btn btn--m btn--blue btn--raised new-session" lx-ripple ng-click="fire()" ui-sref="session">Start New Session</button>

  <div id="join">
    <input placeholder="Nav to private room" ng-model="privateRoom" />
    <button class="btn btn--xs btn--green btn--raised" lx-ripple ng-click="exsitingRoom()">Join Room</button>
  </div>

  <div id="footer">
    <a class="btn btn--m bgc-indigo-500 btn--raised contact" href="https://www.github.com/realmike33">Contact Me</a>
  </div>
